{% extends 'base.html' %}

{% block content %}
    <h6>Hello {{ current_user.username }}</h6>

    <section class="inventory">
    <h3>Current Inventory</h3>
    <table>
      <thead>
        <th>Item Name</th>
        <th>Supply</th>
      </thead>
        {% for item in items %}
          <tr>
          <td>{{ item.name }}</td> 
          <td>{{ item.supply }}</td>
          </tr>
        {% endfor %}
      <tbody>

      </tbody>
    </table>
    <a class="button button-primary" href="{{ url_for("ingredients") }}">Edit Ingredients</a>
  </section>

{% endblock %}
