{% extends 'base.html' %}

{% block content %}
    <h6>Hello {{ current_user.username }}</h6>
    <section class="inventory">
    
    <h3>Add Inventory</h3>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      {{ form.item_name.label }}
      {{ form.item_name }}
      {{ form.supply.label }}
      {{ form.supply }}
      <p>{{ form.submit() }} </p>

        {% for error in form.item_name.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
    </form>

    <h3>Current Inventory</h3>
    <table>
      <thead>
        <th>Item Name</th>
        <th>Supply</th>
      </thead>
        {% for item in items %}
          <tr>
          <td>{{ item.name }}</td> 
          <td>{{ item.supply }}</td>
          </tr>
        {% endfor %}
      <tbody>

      </tbody>
    </table>
  </section>

{% endblock %}
