{% extends 'base.html' %}

{% block content %}
    <h6>Hello {{ current_user.username }}</h6>
    <section class="inventory">
    
    <h3>Add Ingredients to Inventory</h3>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      {{ form.itemname.label }}
      {{ form.itemname }}
      {{ form.supply.label }}
      {{ form.supply }}
      {{ form.menu_id.label }}
      {{ form.menu_id }}
      <p>{{ form.submit() }} </p>

        {% for error in form.itemname.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
    </form>

    <h3>Current Inventory</h3>
    <table>
      <thead>
        <th>Item Name</th>
        <th>Supply</th>
      </thead>
        {% for item in items %}
          <tr>
          <td>{{ item.name }}</td> 
          <td>{{ item.supply }}</td>
          <td>{{ item.menu_id }}</td>
          </tr>
        {% endfor %}
      <tbody>

      </tbody>
    </table>
  </section>

{% endblock %}
